*{
    margin: 0;
    padding: 0;
}

.imagen{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    
}

.imagen2{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

li{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    padding: 10px;
    color: rgb(33, 77, 79);
}

#fotoprin{
    width: 1000px;
}

nav{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.texto{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    color: rgb(200, 141, 64);
    font-size: 75px;
    padding: 5px;
}

h3{
    color: blueviolet;
    
}

.boton2{
    
    background-color: blueviolet;
    color: azure;
    padding: 10px 80px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 25px;
    margin-top: 20px;
}

.boton{
    margin-top: 30px;
}

.contacto{
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;
        background-color: rgb(248, 231, 208);
        
    
}

#fotomaca{
    width: 400px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 5px;
    border-color: rgb(157, 123, 123);
    border-style:dashed;
}

.contacto_texto{
    width: 1000px;
    font-size: 28px;
    display: flex;
    justify-content:space-around;
    margin-left: 20px;
    margin-right: 20px;
    
    
}

.SUBTITULO{
    text-align: center;
    margin: 35px auto;
    font-size: 30px;
    
    font-weight: 600;
    color: blueviolet;
    
}

span{
    border-top: 4px solid tomato ;
    border-bottom: 4px solid tomato;
    font-family: 'Acme', sans-serif;
    
}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: rgb(33, 77, 79);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}

#img2{
    width: 600px;
}

.contacto2{
        display: flex;
        justify-content:center;
        position: relative;
        align-items: center;
        margin-top: 50px;
        gap: 30px;
       
}

.img-contacto{
    width: 400px;
}

#footer1{
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 15px;
}

footer{
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: beige;
}

.face{
    position: relative;
    display: grid;
    gap: 10px;
}

.faceimg{
    position: relative;
    margin-bottom: 8px;
    width: 40px;

}

@media (max-width:1000px){
    .contacto2{
        flex-wrap: wrap;
    }

    .contacto_texto{
        width: 800px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #fotoprin{
        width: 700px;
    }

    .texto{
        margin-top: 25px;
    }
    
}

@media (max-width: 800px){
   
    #fotomaca{
        width: 250px;
    }

    #letracont{
        font-size: 25px;

    }

    .contacto2{
        flex-wrap: wrap;
    }

    a{
        font-size: 20px;
    }

    p{
    font-size: 20px;
    }
    
}
@media (max-width: 700px){
    #fotomaca{
        width: 150px;
}

p{
    font-size: 15px;
}

#fotoprin{
    width: 500px;
}

#img2{
    width: 450px;
}

h1{
    font-size: 55px;
}

h3{
    font-size: 20px;
}

}

@media (max-width: 540px){
    #fotoprin{
        width: 350px;
    }

    #img2{
        width: 350px;
    }

    li{
        font-size: 20px;
    }

    h1{
        font-size: 45px;
    }
    
    h3{
        font-size: 15px;
    }

    .boton2{
        padding: 5px 60px;
        font-size: 15px;
    }

    a{
        font-size: 12px;
    }

    .img-contacto{
        width: 300px;
    }

}  

@media (max-width: 540px){

    #fotoprin{
        width: 300px;
    }

    h1{
        font-size: 35px;
    }
    
    h3{
        font-size: 10px;
    }

    #img2{
        width: 300px;
    }

}